.brand-logo {
    margin-left: 10px;
}

li {
    margin-right: 10px;
    font-family: "Sawarabi Mincho";
    font-size: 24px;
}

header {
    background-color: grey darken-3;
    font-family: 'IM Fell DW Pica SC', serif;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
}

body {
    background-color: black;
}

.materialbox-caption {
    font-size: 54px;
}